@model MVCLab1.Models.StockViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Balance: @Model.Account.Balance</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.First().Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.First().StockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.First().Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stocks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Buy" asp-route-id="@item.ID">Buy</a> |
                <a asp-action="Sell" asp-route-id="@item.ID">Sell</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
